//import the entire library
@require 'attention/*'
@require 'bling/*'
@require 'bomb/*'
@require 'bounce/*'
@require 'fade/*'
@require 'flippers/*'
@require 'lightspeed/*'
@require 'magic/*'
@require 'math/*'
@require 'perspective/*'
@require 'rotate/*'
@require 'sliders/*'
@require 'specials/*'
@require 'static/*'
@require 'tin/*'
@require 'zoom/*'
